@model SeoAnalyzer.Models.PageInfo


<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-4">Хост: @Model.Host</div>
            <div class="col-xs-12 col-md-4">Кодировка: @Model.Encoding</div>
            <div class="col-xs-12 col-md-4">Размер страницы: @Model.Size Кбайт</div>
        </div>
    </div>
</div>
