@model SeoAnalyzer.Models.PageInfo

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 col-md-4"><strong>Host:</strong> @Model.Host</div>
            <div class="col-xs-12 col-md-4"><strong>Encoding:</strong> @Model.Encoding</div>
            <div class="col-xs-12 col-md-4"><strong>Page Size:</strong> @Model.Size KB</div>
        </div>
    </div>
</div>


