@model SeoAnalyzer.Models.MetaTagBlock


@if (Model.ContentTextCount != 0)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Исхoдный текст  (@Model.ContentTextCount слов)</h3>
        </div>
        <div class="panel-body" style="max-height: 200px;overflow-y: scroll;">
            @Model.Content
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Обработанный текст, без стоп-слов (@Model.ContentWithoutStopWordsCount слов)</h3>
        </div>
        <div class="panel-body" style="max-height: 200px;overflow-y: scroll;">
            @Model.ContentWithoutStopWords
        </div>
    </div>
}
