body
{
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content
{
    padding-left: 15px;
    padding-right: 15px;
}

*/
.dl-horizontal dt
{
    white-space: normal;
}


input.search-query
{
    padding-left: 26px;
}

form.form-search
{
    position: relative;
}

form.form-search:before
{
    display: block;
    width: 14px;
    height: 14px;
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    background-position: -48px 0;
    position: absolute;
    top: 8px;
    left: 8px;
    opacity: .5;
    z-index: 1000;
}

.progressBarLoad
{
    display: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.searchError
{
    display: none;
}

.modal-body
{
    position: relative;
    padding: 20px;
    width: 70%;
    background: white;
    margin: 0 auto;
    margin: 30px auto;
}

.placeholderValidation::-webkit-input-placeholder {
    color: #b72e2e
}